<div class="page-card">
<p-table
  #dt1
  [value]="stories"
  dataKey="id"
  [rows]="5"
  [rowsPerPageOptions]="[5, 10, 25, 50]"
  [paginator]="true"
  [globalFilterFields]="['title']"
  responsiveLayout="scroll"
  [showCurrentPageReport]="true"

  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
>
  <ng-template pTemplate="caption">
    <div class="search-wrapper">
      <div class="search-bar-container">
        <i class="pi pi-search search-icon"></i>
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter($event)"
          placeholder="Search stories by title..."
          class="search-input"
        />
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="body" let-story>
    <tr>
      <td>
        <div class="story-card">
          <a class="story-title" [href]="story.url" target="_blank">
            {{ story.title }}
          </a>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
</div>
